<div *ngIf="!gameStarted">
<form [formGroup]="gameSetupForm" autocomplete="off" novalidate (ngSubmit)="setupNewGame(gameSetupForm.value)">
    <div>
        <label for="botNumber">How many bots would you like to face?</label>
        <input type="number" id="botNumber" formControlName="botNumber" class="form-control"
               min="4" max="9"  onKeyDown="return false" />
    </div>
    <div>
        <em *ngIf="validateControl('botNumber') && hasError('botNumber','required')">Bot Number is Required</em>
    </div>
    <div>
        <label for="playersTeam">What team would you like to be a part of?</label>
        <select formControlName="playersTeam">

            <option value="Random">Random</option>
            <option value="Resistance">Resistance</option>
            <option value="Spies">Spies</option>
        </select>
    </div>
    <div>
        <em *ngIf="validateControl('playersTeam') && hasError('playersTeam','required')">Must Choose a Team</em>
    </div>
    <br />
    <div>
        <button type="submit" [disabled]="!gameSetupForm.valid">Start</button>
    </div>
</form>
</div>
<div *ngIf="gameStarted">
    <div class="boardHalf">
        <div *ngFor="let boardPiece of topHalf" class="boardPiece">
            <div class="MissionDetails">
                <div class="MissionLeader">
                    <b *ngIf="boardPiece.missionLeader">Mission Leader</b>
                    <b *ngIf="!boardPiece.missionLeader">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </b>
                </div>
                <div class="OnMission" *ngIf="boardPiece.onMission">
                    <b>On Mission</b>
                </div>

            </div>
            <div *ngIf="playersObj.team === 'Spies'">
                <div [style.background]="(boardPiece.team === 'Spies') ? 'red':'blue'">
                    {{boardPiece.name}}
                </div>
            </div>
            <div *ngIf="playersObj.team === 'Resistance'">
                <div>
                    {{boardPiece.name}}
                </div>
            </div>
            <div *ngIf="playerIsMissionLeader" class="MissionSelect">
                <button type="button" class="btn btn-secondary" (click)="selectedTeamMember(boardPiece)">Select</button>
            </div>
        </div>
    </div>
    <div class="Middle">
        <div class="Missions">
            <div class="MissionPiece">
                Mission 1
                <h6>Mission Size: {{MissionNumbers[0]}}</h6>
                <div class="ProposeTeam" *ngFor="let teamMember of MissionOneMembers">
                    <h6>{{teamMember.name}}</h6>
                    
                    <button  *ngIf="playerIsMissionLeader && CurrentMission==0" type="button" class="btn btn-outline-danger" (click)="RemoveFromMission(teamMember)">X</button>
                </div>

                <div *ngIf="MissionOneMembers.length==MissionNumbers[CurrentMission] && playerIsMissionLeader && CurrentMission==0">
                    <button type="button" class="btn btn-success">Confirm Team</button>
                </div>

            </div>
            <div class="MissionPiece">
                Mission 2
                <h6>Mission Size: {{MissionNumbers[1]}}</h6>
                <div class="ProposeTeam" *ngFor="let teamMember of MissionTwoMembers">
                    {{teamMember.name}}

                    <button *ngIf="playerIsMissionLeader && CurrentMission==1" type="button" class="btn btn-outline-danger" (click)="RemoveFromMission(teamMember)">X</button>
                </div>

                <div *ngIf="MissionTwoMembers.length==MissionNumbers[CurrentMission] && playerIsMissionLeader && CurrentMission==1">
                    <button type="button" class="btn btn-success">Confirm Team</button>
                </div>

            </div>
            <div class="MissionPiece">
                Mission 3
                <h6>Mission Size: {{MissionNumbers[2]}}</h6>
                <div class="ProposeTeam" *ngFor="let teamMember of MissionThreeMembers">
                    {{teamMember.name}}

                    <button *ngIf="playerIsMissionLeader && CurrentMission==2" type="button" class="btn btn-outline-danger" (click)="RemoveFromMission(teamMember)">X</button>
                </div>

                <div *ngIf="MissionThreeMembers.length==MissionNumbers[CurrentMission] && playerIsMissionLeader && CurrentMission==2">
                    <button type="button" class="btn btn-success">Confirm Team</button>
                </div>

            </div>
            <div *ngIf="existingTurnOrders.length>6" class="MissionPiece">

                Mission 4
                <h6>Mission Size: {{MissionNumbers[3]}}</h6>

                <p style="font-size:x-small;">Two Fails Required</p>
                <div class="ProposeTeam" *ngFor="let teamMember of MissionFourMembers">
                    {{teamMember.name}}

                    <button *ngIf="playerIsMissionLeader && CurrentMission==3" type="button" class="btn btn-outline-danger" (click)="RemoveFromMission(teamMember)">X</button>
                </div>

                <div *ngIf="MissionFourMembers.length==MissionNumbers[CurrentMission] && playerIsMissionLeader && CurrentMission==3">
                    <button type="button" class="btn btn-success">Confirm Team</button>
                </div>

            </div>
            <div *ngIf="existingTurnOrders.length<7" class="MissionPiece">
                Mission 4
                <h6>Mission Size: {{MissionNumbers[3]}}</h6>
                <div class="ProposeTeam" *ngFor="let teamMember of MissionFourMembers">
                    {{teamMember.name}}

                    <button *ngIf="playerIsMissionLeader && CurrentMission==3" type="button" class="btn btn-outline-danger" (click)="RemoveFromMission(teamMember)">X</button>
                </div>

                <div *ngIf="MissionFourMembers.length==MissionNumbers[CurrentMission] && playerIsMissionLeader && CurrentMission==3">
                    <button type="button" class="btn btn-success">Confirm Team</button>
                </div>

            </div>
            <div class="MissionPiece">
                Mission 5
                <h6>Mission Size: {{MissionNumbers[4]}}</h6>
                <div class="ProposeTeam" *ngFor="let teamMember of MissionFiveMembers">
                    {{teamMember.name}}

                    <button *ngIf="playerIsMissionLeader && CurrentMission==4" type="button" class="btn btn-outline-danger" (click)="RemoveFromMission(teamMember)">X</button>
                </div>

                <div *ngIf="MissionFiveMembers.length==MissionNumbers[CurrentMission] && playerIsMissionLeader && CurrentMission==4">
                    <button type="button" class="btn btn-success">Confirm Team</button>
                </div>
            </div>
        </div>
        <div class="VoteTrack">
            <div class="VotePiece">
                1
            </div>
            <div class="VotePiece">
                2
            </div>
            <div class="VotePiece">
                3
            </div>
            <div class="VotePiece">
                4
            </div>
            <div class="VotePiece">
                5
            </div>
        </div>
    </div>
    <div class="boardHalf">
        <div *ngFor="let boardPiece of bottomHalf" class="boardPiece">
            <div class="MissionDetails">
                <div class="MissionLeader">
                    <b *ngIf="boardPiece.missionLeader">Mission Leader</b>
                    <b *ngIf="!boardPiece.missionLeader">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </b>
                </div>
                <div class="OnMission" *ngIf="boardPiece.onMission">
                    <b>On Mission</b>
                </div>

            </div>
            <div *ngIf="playersObj.team === 'Spies'">
                <div [style.background]="(boardPiece.team === 'Spies') ? 'red':'blue'">
                    {{boardPiece.name}}
                </div>
            </div>
            <div *ngIf="playersObj.team === 'Resistance'">
                <div>
                    {{boardPiece.name}}
                </div>
            </div>
            <div *ngIf="playerIsMissionLeader" class="MissionSelect">
                <button type="button" class="btn btn-secondary" (click)="selectedTeamMember(boardPiece)">Select</button>
            </div>
        </div>
        </div>
    </div>
