<div class="homeBody">
<h4>Verse My Bot! In a Game of...<br /> The Resistance! </h4>
    <div class="desc">
        <p>
            The Resistance is a social deduction game with secret identities.
            Players are either members of the Resistance attempting to overthrow
            the government, or Spies trying to thwart the Resistance.
            The Resistance wins the game if three Missions are completed successfully;
            the Spies win if three Missions fail.The Resistance members have no information
            about anyone at the beginning of the game, while the Spies know who is or isn’t
            their fellow Spies. 
            
            
        </p>
        <h6 style="text-align:center;">
            Attempt to verse my agent playing as the Resistance or the Spies team.
            <br />
            Be warned the more games my agent plays the smarter it becomes...
        </h6>
    </div>
    <div class="table table-dark">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Resistance Team Wins</th>
                    <th scope="col">Resistance Team Losses</th>
                    <th scope="col">Spy Team Wins</th>
                    <th scope="col">Spy Team Losses</th>
                    <th scope="col">Total Wins</th>
                    <th scope="col">Total Losses</th>
                    <th scope="col">Win Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">V1.</th>
                    <th scope="row">0</th>
                    <th scope="row">0</th>
                    <th scope="row">0</th>
                    <th scope="row">0</th>
                    <th scope="row">0</th>
                    <th scope="row">0</th>
                    <th scope="row">100%</th>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
